.bookingform-container {
  max-width: 600px;
  margin: 0 auto;
}

.bookingform-title {
  font-size: 24px;
}

.bookingform-address {
  font-size: 16px;
}

.bookingform-error {
  margin-top: 20px;
  color: red;
}

.bookingform-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.bookingform-label {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
}

.input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
  width: 100%;
}

.input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}

.bookingform-input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
  width: 100%;
}

.bookingform-input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}

.bookingform-select {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
  width: 100%;
}

.bookingform-select:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}

.bookingform-textarea {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
  width: 100%;
}

.bookingform-textarea:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}

.bookingform-radio {
  margin-right: 10px;
}

.bookingform-btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 15px;
  transition: background-color 300ms ease;
}

.bookingform-btn:hover {
  background-color: #0056b3;
}

.bookingform-rate {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}
